<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Foods</title>
</head>
<body>
    <h1><%= title %> </h1>
    <ul>
        <% foods.forEach(function(food) { %> 
            <li><%= food; %> </li>
        <% }); %> 
    </ul>
</body>
</html>